<a href="https://colab.research.google.com/github/R1013-T/Python-basic/blob/main/python_repetition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 繰り返し

In [2]:
for i in [0, 1, 2, 3, 4]:
  print(i)

0
1
2
3
4

In [4]:
l = [0, 1, 2, 3, 4]
for i in l:
  print(i)


for i in range(5):
  print(i)

0
1
2
3
4
0
1
2
3
4

In [5]:
for i in range(5):
  if i == 3:
    break
  print(i)

0
1
2

In [6]:
for i in range(5):
  if i == 3:
    continue
  print(i)

0
1
2
4

In [8]:
for i in range(3):
  for j in range(3):
    print(i, j, sep='-')

0-0
0-1
0-2
1-0
1-1
1-2
2-0
2-1
2-2

In [9]:
locations = ['Tokyo','Osaka','Kyoto']
for location in locations:
  print(location)

Tokyo
Osaka
Kyoto

In [10]:
i = 0
while i < 5:
  print(i)
  i += 1

0
1
2
3
4

In [11]:
i = 1
while i < 100:
  print(i)
  i *= 2
print("Finish")

1
2
4
8
16
32
64
Finish

In [13]:
i = 1
while True:
  print(i)
  i *= 2
  if i >= 100:
    break
print("Finish")

1
2
4
8
16
32
64
Finish