<a href="https://colab.research.google.com/github/R1013-T/Python-basic/blob/main/python_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello, world!")

Hello, world!

In [ ]:
print{"hello mornig"}

SyntaxError: ignored

In [ ]:
print("Hello")
print("1")
print(2)

Hello
1
2

In [ ]:
num1 = 1
print(num1)

num1 = 2
print(num1)

1
2

In [ ]:
import keyword

print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
num1 = 123
num2 = 1.23

print("num1", type(num1))
print("num2", type(num2))

num1 <class 'int'>
num2 <class 'float'>

In [ ]:
# リスト

In [ ]:
names = ['sato','suzuki','takahashi']
print(names)
print(names[2])
print(names[-1])

['sato', 'suzuki', 'takahashi']
takahashi
takahashi

In [ ]:
nums = [0,1,2,3,4,5,6]
print(nums[::2])
print(nums[1:2])
print(nums[1:4])
print(nums[1:-1])
print(nums[::-1])

[0, 2, 4, 6]
[1]
[1, 2, 3]
[1, 2, 3, 4, 5]
[6, 5, 4, 3, 2, 1, 0]

In [ ]:
names = ['sato','suzuki','takahashi']
names = names * 2
print(names)

['sato', 'suzuki', 'takahashi', 'sato', 'suzuki', 'takahashi']

In [ ]:
nums = [0,1,2,3,4,5,6]

nums.append(7)

print(nums)

name = []

name.extend('takahashi')

print(name)

[0, 1, 2, 3, 4, 5, 6, 7]
['t', 'a', 'k', 'a', 'h', 'a', 's', 'h', 'i']

In [ ]:
nums = [0,1,2,3,4,5,6]

nums.insert(1, 0.5)

print(nums)

[0, 0.5, 1, 2, 3, 4, 5, 6]

In [ ]:
nums = [0,1,2,3,4,5,6]

nums.pop(0)

print(nums)

nums.remove(5)

print(nums)

nums.clear()

print(nums)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 6]
[]

In [ ]:
names = ['sato','suzuki','takahashi']

print('suzuki' in names)
print('susuki' in names)

True
False

In [ ]:
names = ['sato','suzuki','sato','takahashi']

print(names.count('sato'))
print(names.index('suzuki'))

2
1

In [ ]:
nums = [3,8,2,0,5,4,1,7,6]

print(nums)

nums.sort()

print(nums)

nums.sort(reverse=True)

print(nums)

nums.reverse()

print(nums)

[3, 8, 2, 0, 5, 4, 1, 7, 6]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[8, 7, 6, 5, 4, 3, 2, 1, 0]
[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
nums = [3,8,2,0,5,4,1,7,6]

print(min(nums))
print(max(nums))

0
8

In [ ]:
nums = [3,8,2,0,5,4,1,7,6]

print(nums.index(max(nums)))

1

In [ ]:
nums = [3,8,2,0,5,4,1,7,6]

print(len(nums))

9

In [ ]:
# タプル

In [ ]:
taple = ('value1', 'value2', 'value3')

print(taple)
print(taple[0])
print(type(taple))

('value1', 'value2', 'value3')
value1
<class 'tuple'>

In [ ]:
taple = ('value1', 'value2', 'value3')

taple[0] = 'value4'

print(taple)

TypeError: ignored

In [ ]:
print(taple)

('value1', 'value2', 'value3')

In [ ]:
taple.append('value2')

AttributeError: ignored

In [ ]:
print(taple.index('value1'))
print(taple.index('value4'))

0

ValueError: ignored

In [ ]:
print(taple.count('value1'))
print(taple.count('value4'))

1
0

In [ ]:
print('value1' in taple)
print('value4' in taple)

True
False

In [ ]:
print(sorted(taple))
print(sorted(taple, reverse=True))

['value1', 'value2', 'value3']
['value3', 'value2', 'value1']

In [ ]:
# 辞書型

In [ ]:
d = {'key1':'value1','key2':2}
print(d)

d2 = dict(key1='value1',key2=2)
print(d2)

{'key1': 'value1', 'key2': 2}
{'key1': 'value1', 'key2': 2}

In [ ]:
d = {'key01':'value01','key02':'value02','key03':'value03','key04':'value04'}

In [ ]:
print("print d ==>",d)
print("print d.keys ==>",d.keys())
print("print d.values ==>",d.values())

print d ==> {'key01': 'value01', 'key02': 'value02', 'key03': 'value03', 'key04': 'value04'}
print d.keys ==> dict_keys(['key01', 'key02', 'key03', 'key04'])
print d.values ==> dict_values(['value01', 'value02', 'value03', 'value04'])

In [ ]:
print(d['key01'])
d['key01'] = 'value01+'
print(d['key01'])

value01
value01+

In [ ]:
print(d)
d['key05'] = 'value05'
print(d)

{'key01': 'value01+', 'key02': 'value02', 'key03': 'value03', 'key04': 'value04'}
{'key01': 'value01+', 'key02': 'value02', 'key03': 'value03', 'key04': 'value04', 'key05': 'value05'}

In [ ]:
d2 = {'d2Key01':'d2Value01','d2Key02':'dsValue02'}
d.update(d2)
print(d)

{'key01': 'value01+', 'key02': 'value02', 'key03': 'value03', 'key04': 'value04', 'key05': 'value05', 'd2Key01': 'd2Value01', 'd2Key02': 'dsValue02'}

In [ ]:
del d['d2Key01'], d['d2Key02']
print(d)

d.pop('key04')
print(d)

{'key01': 'value01+', 'key02': 'value02', 'key03': 'value03', 'key04': 'value04', 'key05': 'value05'}
{'key01': 'value01+', 'key02': 'value02', 'key03': 'value03', 'key05': 'value05'}

In [ ]:
d.clear()
print(d)

{}

In [ ]:
d = {'key01':'value01','key02':'value02','key03':'value03','key04':'value04'}

In [ ]:
print('key02' in d)

True

In [3]:
# 集合

# 要素に順番がない
# 重複に意味がない

# -> 重複した要素を削除したいときに使われる

In [6]:
s = {0, 2, 1, 1, 2, 3, 1}
print(s)
print(type(s))

{0, 1, 2, 3}
<class 'set'>

In [8]:
s = {123, 1.23, (1,2,3), 123, "123"}
print(s)

{1.23, 123, '123', (1, 2, 3)}

In [9]:
s = {123, 1.23, [1,2,3], 123, "123"}
print(s)

TypeError: ignored

In [11]:
list = [0, 2, 1, 1, 2, 3, 3, 1, 2]
s = set(list)

print(list)
print(s)

[0, 2, 1, 1, 2, 3, 3, 1, 2]
{0, 1, 2, 3}

In [12]:
s1 = set()
s2 = {}

print(type(s1))
print(type(s2))

<class 'set'>
<class 'dict'>

In [14]:
s = {0, 1, 2}
s.add(3)

print(s)

s.remove(1)

print(s)

s.clear()
print(s)

{0, 1, 2, 3}
{0, 2, 3}
set()

In [15]:
list = [0, 2, 1, 1, 2, 3, 3, 1, 2]
fs = frozenset(list)

print(fs)

frozenset({0, 1, 2, 3})

In [16]:
fs.add(1)
print(fs)

AttributeError: ignored

In [17]:
fs.clear(fs)

AttributeError: ignored

In [23]:
s1 = {0, 1, 2}
s2 = {1, 2, 3}
s3 = {2, 3, 4}

# 和集合：どれか一つに含まれる
ss1 = s1 | s2 | s3
print(ss1)
ss2 = s1.union(s2, s3)
print(ss2)

# 積集合：すべてに含まれる
ss1 = s1 & s2 & s3
print(ss1)
ss2 = s1.intersection(s2, s3)
print(ss2)

# 差集合：一個にのみ含まれる
ss1 = s1 - s2
print(ss1)
ss2 = s1.difference(s2)
print(ss2)

# 対象差集合：どちらかにのみ含まれる
ss1 = s1 ^ s2
print(ss1)
ss2 = s1.symmetric_difference(s2)
print(ss2)

{0, 1, 2, 3, 4}
{0, 1, 2, 3, 4}
{2}
{2}
{0}
{0}
{0, 3}
{0, 3}

In [29]:
s1 = {0, 1, 2}
s2 = {0, 1, 2, 3, 4}

print(s1 <= s2)
print(s1.issubset(s2))

s3 = {2, 1, 0}
print(s1 == s2)
print(s1 == s3)

print(s1 < s2)
print(s1 < s3)

print(s1.isdisjoint(s2))
print(s1.isdisjoint(s3))

True
True
False
True
True
False
False
False

In [30]:
s = {1, 2, 3, 4, 5}

print(1 in s)
print(0 in s)

True
False

In [32]:
s = {4, 2, 0, 3, 1}
for i in s:
  print(i)

0
1
2
3
4