<a href="https://colab.research.google.com/github/R1013-T/Python-basic/blob/main/python_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# クラス

In [9]:
class Student:

  def __init__(self, name):
    self.name = name

  def avg(self, math, english):
    print((math + english) / 2)

a001 = Student("")
a001.avg(30, 70)

a001.name = "sato"
print(a001.name)

a002 = Student("tanaka")
print(a002.name)

50.0
sato
tanaka

In [18]:
class Student:

  def __init__(self, name):
    self.name = name

  def __del__(self):
    print("DELETE!")


person = Student("Yamada")
person2 = person
print(person.name)
del person
print("================")

Yamada
================
DELETE!

In [21]:
class Student:
  def math(self, score):
    print("math score ==>",score)

class Grade1(Student):
  def english(self, score):
    print("english score ==>",score)


studentA = Student()
studentB = Grade1()

studentA.math(50)
studentB.math(50)
studentB.english(70)

math score ==> 50
math score ==> 50
english score ==> 70

In [26]:
class Student:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def math(self, score):
    print("math score ==>",score)

class Grade1(Student):
  def __init__(self, name, age):
    self.name = name
    self.age = age
    print("Name ==>",self.name)
    print("Age ==>",self.age)

  def english(self, score):
    print("english score ==>",score)

studentA = Student("Yamada", 15)
studentB = Grade1("Sato", 12 )

Name ==> Sato
Age ==> 12

In [28]:
class Student:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def math(self, score):
    print("math score ==>",score)

class Grade1(Student):
  def __init__(self, name, age):
    super().__init__(name, age)
    print("Name ==>",self.name)
    print("Age ==>",self.age)

  def english(self, score):
    print("english score ==>",score)

studentA = Student("Yamada", 15)
studentB = Grade1("Sato", 12 )

Name ==> Sato
Age ==> 12

In [33]:
class Student:

  job = "junior high school student"
  age = 20

  def __init__(self, name, age):
    self.name = name
    self.age = age

studentA = Student("Yamada", 15)
print(studentA.job)
print(studentA.name)
print(studentA.age )

studentB = Student("Sato", 12)
print(studentB.job)
print(studentB.name)
print(studentB.age )

print(Student.job)
print(Student.age)

junior high school student
Yamada
15
junior high school student
Sato
12
junior high school student
20

In [37]:
class Student:

  job = "junior high school student"
  age = 20

  @classmethod
  def add_age(cls):
    cls.age += 1
    return cls.age

  def __init__(self, name, age):
    self.name = name
    self.age = age

# print(Student.add_age())

studentA = Student("Yamada", 15)
print(studentA.add_age())

21

In [41]:
class Student:

  job = "junior high school student"
  age = 20

  @classmethod
  def add_age(cls):
    cls.age += 1
    return cls.age

  @staticmethod
  def greeting():
    print("hello")
    print(f"I am {Student.age}")

  def __init__(self, name, age):
    self.name = name
    self.age = age


def _greeting():
  print("hello")
  print(f"I am {Student.age}")



Student.greeting()
_greeting()

hello
I am 20
hello
I am 20