<a href="https://colab.research.google.com/github/R1013-T/Python-basic/blob/main/comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 内包表記

In [2]:
l1 = []
for i in range(5):
  l1.append(i)

l2 = [i for i in range(5)]

print(l1)
print(l2)

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]

In [3]:
s = {i for i in range(5)}

print(s)

{0, 1, 2, 3, 4}

In [4]:
d = {i : i * 2 for i in range(5)}

print(d)

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8}

In [5]:
l = [i for i in range(10) if i % 2 == 0]

print(l)

[0, 2, 4, 6, 8]

In [6]:
d = {i : "even" if i % 2 == 0 else "odd" for i in range(10)}

print(d)

{0: 'even', 1: 'odd', 2: 'even', 3: 'odd', 4: 'even', 5: 'odd', 6: 'even', 7: 'odd', 8: 'even', 9: 'odd'}

In [7]:
l1 = []
for i in (10, 100, 1000):
  for j in (1, 2, 3):
    l1.append(i + j)

l2 = [i + j for i in (10, 100, 1000) for j in (1, 2 ,3)]

print(l1)
print(l2)

[11, 12, 13, 101, 102, 103, 1001, 1002, 1003]
[11, 12, 13, 101, 102, 103, 1001, 1002, 1003]